<p>data-binding works!</p>
<table>
    <tr>
        <td>Employee Name</td>
        <td>{{employeeObj.employeeName}}</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td>{{employeeObj.designation}}</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{employeeObj.salary | currency:'INR'}}</td>
    </tr>
    <tr>
        <td>Skills</td>
        <td>{{employeeObj.skills[0]}},{{employeeObj.skills[1]}}</td>
    </tr>
</table>

<h3>{{message1 | uppercase}}</h3>
<h3>{{message1 | lowercase}}</h3>
<h3>{{message1 | titlecase}}</h3>


